body {
    background-color: #f1f1f1;
    padding: 0px;
    font-family: Arial;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.card {
    border: 0;
    width: 30%;
    padding: 0.75rem;
    margin: 1px;
    margin-bottom: 2rem;
}

.card img {
    display: block;
    height: 280px;
    width: 100%;
    margin-bottom: .75rem;
}

#contacts .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 2px;
}

#contacts .btn:hover {
    background-color: red;
}

.cr {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin: 0;
}